* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.webTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 4% 0 0 0;
  h1 {
    font-style: italic;
    color: rgb(0, 0, 0, 0.7);
    text-shadow: 3px 3px 2px rgba(128, 128, 128, 0.5);
    font-size: 6rem;
    font-family: "Space Grotesk";
    font-weight: bolder;
  }
  p {
    margin: 0;
    color: rgb(0, 0, 0, 0.3);
    font-size: 1.8rem;
    // font-family: "Exo 2";
    // font-family: "Orbitron";
    // font-family: "Bebas Neue";
    font-family: "Protest Riot";
    // font-family: "Anta";
    font-weight: bolder;
  }
}
