* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePageContainer {
  background-image: url('../../../public/homePageBackgroundImage.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  .contentsContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
