.navLinkContainer {
  @media (min-width: 600px) {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    .navLinksForMobileView {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .navLinksForMobileView {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 10% 0;
      a {
        margin: 5% 0 5% 0;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 1px 1px 2px rgb(255, 228, 196);
      }
    }
  }
  display: flex;
  align-items: center;

  .burgerIcon {
    @media (max-width: 500px) {
      display: none;
    }
    font-size: 4rem;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
    transform: scale(1);
    color: rgba(0, 0, 0, 0.8);
  }
  .closeIcon {
    @media (max-width: 500px) {
      display: none;
    }
    font-size: 4rem;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
    transform: scale(1);
    color: rgba(0, 0, 0, 0.8);
  }
  a {
    @media (min-width: 600px) {
      &:hover {
        text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.7);
      }
      &:active {
        text-shadow: 2px 2px 1px rgb(255, 105, 180);
        transition: text-shadow 0s;
      }
    }
    font-weight: bold;
    margin-right: 40px;
    text-decoration: underline;
    color: rgb(255, 228, 196);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.6rem;
    text-shadow: 4px 4px 10px rgb(220, 20, 60, 0.6);
    transition: text-shadow 0.3s ease;
    animation: fadeOut 1s ease-in-out forwards;
    @keyframes fadeOut {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
