.webIntroContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 3%;
  padding: 0 25px 0 25px;
  p {
    font-family: "Roboto Condensed";
    font-size: 1.2rem;
    color: #0e0910;
    font-weight: 700;
    line-height: 160%;
    text-align: start;
  }
}

// Media Queries for screens 500px and below
@media (max-width: 500px) {
  .webIntroContainer {
    margin: 10% 0 10% 0;
  }
}
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^