// @media (max-width: 600px) {
//   .mobileNavBarContainer {
//     display: none;
//   }
// }

.mobileNavBarContainer {
  height: auto;
  width: 100%;
  margin: 0 0 12% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  a {
    font-weight: bold;
    text-decoration: underline;
    /* Safari-specific */
    color: rgba(0, 0, 0, 0.1);
    /* Chrome-specific */
    -webkit-text-fill-color: rgba(0, 0, 0, 0.7);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.6rem;
  }
}
